<h1 class = "category_header">Out on the Town</h1>
<h2 class = "category_subheader">The Sights, Sounds, and Tastes of Fishtown</h2>

<div class = "row">
	<div class = "col-md-4">
		<h3 class = "category_subheader">Libations</h3>
		<%= link_to libations_path do %>
			<div class = "libation_pic place_categories"></div>
		<% end %>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">Tomatoes and Cheese</h3>
		<%= link_to pizza_path do %>
			<div class = "pizza_pic place_categories"></div>
		<% end %>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">Caffeine and Cakes</h3>
		<%= link_to coffee_path do %>
			<div class = "coffee_pic place_categories"></div>
		<% end %>
	</div>

</div>

<div class = "row">
	<div class = "col-md-4">
		<h3 class = "category_subheader">A Tree Grows in Fishtown</h3>
		<%= link_to parks_path do %>
			<div class = "parks_pic place_categories"></div>
		<% end %>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">Support Small Business</h3>
		<%= link_to shops_path do %> 
			<div class = "shops_pic place_categories"></div>
		<% end %>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">Being fit, well, and mindful on the journey</h3>
		<%= link_to wellness_path do %>
			<div class = "yoga_pic place_categories"></div>
		<% end %>
	</div>
</div>

<div class = "row">
	<div class = "col-md-4">
		<h3 class = "category_subheader">A Bit of Song and Dance</h3>
		<%= link_to music_path do %>
			<div class = "music_pic place_categories"></div>
		<% end %>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">The Tastes of Fishtown</h3>
		<%= link_to restuarants_path do %>
			<div class = "restaurants_pic place_categories"></div>
		<% end %>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">Expressions of Creativity</h3>
		<%= link_to art_path do %>
			<div class = "art_pic place_categories"></div>
		<% end %>
	</div>
</div>

<div class = "row">
	<div class = "col-md-4">
		<h3 class = "category_subheader">Where I Lay My Head is Home</h3>
		<%= link_to lodging_path do %>
			<div class = "lodging_pic place_categories"></div>
		<% end %>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">Museums, Farms, Landmarks, and All the Other Things</h3>
		<%= link_to allTheThings_path do %>
			<div class = "misc_pic place_categories"></div>
		<% end %>
	</div>

	<div class = "col-md-4">
		<h3 class = "category_subheader">How to Get Around</h3>
		<%= link_to transportation_path do %> 
			<div class = "transit_pic place_categories"></div>
		<% end %>
	</div>
</div>