<h1 class = "category_header">The Fishtown Pizza Crawl</h1>

<div class = "places_container">
	<% @places.each do |place| %>
		<h2 class = "places_subheader"><%= place.name %></h2>
		<div class = "places pizza_places"><%= image_tag(place.avatar, :class => "avatar_images") %></div>
			<div class = "place_description">
				<%= place.description %>
			</div>

	<%= form_for @visit do |f| %>

	<%= f.collection_select(:itinerary_id, current_user.itineraries.all, :id, :title) %>

	<%= f.hidden_field :place_id, value: place.id %>

	<%= f.submit %>

	<% end %>
<% end %>


</div>

<br><br>

<h2 class = "category_subheader">Add Your Favorite Pizza Spot!</h2>

<div class = "form_container"><%= render "places_form" %></div>
