<br><br>

<div id="map"></div>

<br><br>

<div class = "locator">
	<%= form_tag("/locate", remote: true) do %>
		<%= text_field_tag "location" %>
		<%= submit_tag %>
	<% end %>
</div>


<div class = "itinerary_list">
	<h2 class = "category_subheader"><%= @itinerary.title %></h2>
		<% @itinerary.visits.each do |visit| %>
			<li class = "itinerary_items" data-lat = <%= visit.place.latitude %> data-lng = <%= visit.place.longitude %> data-description = <%= visit.place.description %>><%= visit.place.name %><span class = "delete_link"><%= link_to " Delete", "/visits/#{visit.id}" , method: :delete, data: { confirm: "Are you sure?" } %></span></li>
		<% end %>

</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsbGBG4DuYkmK8v-fpIi5vjdDMY1XjqBM">
</script>